<br>
<br>
<br>
<br>
<br>
<div class="container" >
  <div class="container-row" style="background-color:#">
      <div class="text-center">
        <h1>
          <%= @artist.name %>
        </h1>
      </div>
      <div style="background-color:#ddd">
        <h4><%= @artist.details %></h4>
      </div>
      <div>
        <%= cl_image_tag @artist.photo.key %>
      </div>
    </div>
</div>
