<footer class="bg-dark text-center text-white footer-position">
  <div class="container p-1">
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-facebook-f"></i></a>
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-twitter"></i></a>
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-google"></i></a>
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/awante.ok/" target="_blank" role="button">
        <i class="fab fa-instagram"></i>
      </a>
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-linkedin-in"></i></a>
  </div>
  <div class="bg-dark text-center p-2">
    Hecho con 💗 por: <strong>Stefano, Jorge y Domingo</strong>
  </div>
</footer>
