<div class="container" >
  <h1>Venues</h1>
  <div class="row multi-columns-row">
    <% @venues.each do |venue| %>
      <div class="col-sm-6 col-md-3 col-lg-3">
        <div class="card"  style="">
          <ul class="text-center p-1">
            <li class="list-unstyled"><%= link_to venue.name, venue_path(venue) %> </li>
            <li class="list-unstyled"><%= venue.address %> </li>
            <li class="list-unstyled"><%#= link_to (cl_image_tag artist.photo.key, height: 100, width: 100, crop: :scale), artist_path(artist)  %> </li>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
</div>
