<br>
<div class="container">
  <h1 class = "text-center"> <%= @venue.name %></h1>
  <p class = "text-center"><%= @venue.address %></p>
  <%#<p><%= cl_image_tag @bike.photos.first.key, height: 300, width: 500, crop: :scale, :border => { :width => 4, :color => 'black' } %></p>
  <%# unless policy(@bike).owner? %>
</div>
