<div class="container" >
  <div class="container-row" style="background-color:#ddd">
      <div class="text-center">
        <h1>
          <%= @concert.title %>
        </h1>
      </div>
      <div style="background-color:#ddd">
        <h4><%= link_to @concert.content, venues_path %></h4>
        <h4><%= @concert.date %></h4>
      </div>
      <div>
        <%= cl_image_tag @concert.photo.key %>
      </div>
    </div>
</div>
