.container-concerts { //contain .grid and #map
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

#map {
  border-radius: 10px;
  height: 100vh;
  position: sticky;
  top: 0;
}

.card {
  border-radius: 10px;
}

.card-concerts {
  margin-bottom: 8px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 190px;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  &:hover{
    transform: scale(1.05);
    transition: transform 0.3s;
  }
  z-index: 1;
  position: relative;
}

.break-line {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;  

  grid-template-areas: "card-img card-content";
}

.card-img {
  grid-area: card-img;
}

.card-content {
  grid-area: card-content;
}

.card-body.text-end {
  border-radius: 10px;
  align-items: center;
  align-content: center;
}

.card {
  border-radius: 10px;
}

.map-venue {
  border-radius: 10px;
}

.card-venue-concerts {
  border-radius: 10px;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 280px;
  align-items: center;
  justify-content: space-between;
}

.card-concerts {
  position: relative;
  text-align: center;
  color: white;
}
.link-card-concerts {
  position: absolute;
  bottom: 2px;
  left: 25%;
}

@media (min-width: 100px) and (max-width: 575px) {
  .container-concerts {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
  }
  // #map {
  //   display: none;
  // }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .card {
    grid-template-columns: 1fr 1fr;
  }
  #map {
    display: none;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 1200px) {
  .card {
    grid-template-columns: 1fr 1fr 1fr;
  }
  #map {
    display: block;
  }
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: top;
}

.card-user {
  display: flex;
  position: relative;
  align-items: center;
  border: 10px;
}

.card-user-info {
  padding-left: 5%;
}

.card-info {
  flex-direction: row;
  padding-top: 5%;
}

.avatar-photo {
  border: 3px solid #555;
  border-radius: 50%;
}
