
.concerts-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2px;

}

#map {
  border-radius: 10px;
  height: 100vh;
  position: sticky;
  top: 0;
}

.card {
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  grid-template-columns: 1fr 1fr;
}


.card-venue {
  border-radius: 10px;
}

.card-venue-concerts {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@media (min-width: 100px) and (max-width: 575px) {
  .card {
    grid-template-columns: 1fr;
  }
  #map {
    display: none;
  }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .card {
    grid-template-columns: 1fr 1fr;
  }
  #map {
    display: none;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 1200px) {
  .card {
    grid-template-columns: 1fr 1fr 1fr;
  }
  #map {
    display: block;
  }
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
