.concerts-container {
  display: flex;
}

#map {
  height: 100vh;
  position: sticky;
  top: 0;
}

.cards {
  flex-direction: column;
  flex-grow: 1;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  padding: 16px;
}

.card-concert {
  margin: 16px;
  background-size: cover;
  background-position: center;
  width: 400px;
  height: 220px;
  border-radius: 1px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 18px;
  color: white;
  font-weight: lighter;
  text-shadow: 0 0 10px rgba(0,0,0,0.7);
}

.concert-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
  #map {
    display: none;
  }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
  #map {
    display: none;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
  #map {
    display: block;
  }
}
