//view-concerts-show
.container > h1 {
  color: white;
  text-shadow: 2px 2px 8px #FFFFFF;
}
.container > p {
  color: white;
}
.concert-img {
  display: flex;
  justify-content: center;
}
.concert-img > img {
  width: 100%;
  object-fit: cover;
  height: 350px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px black;
}
.share-concerts {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.concert-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
  align-items: center;
}

.content > p {
  color: white;
  font-size: 20px;
  text-shadow: 2px 2px 8px #000000;
}

// view-concerts-index

.card {
  margin: 10px 0px;
  height: 250px;
  border-radius: 10px;
}

.card > img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.text-over-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 32px;
  text-decoration: none;
  color: #FFFFFF;
  text-shadow: 2px 2px 8px #000000;
}
.text-over-card:hover {
  color: rgb(213,182,110);
}
.remove-delete-btn-style {
  position: absolute;
  top: 3px;
  bottom: auto;
  left: auto;
  right: 8px;
  background: none;
  border: none;
}

.remove-submit-btn-style {
  position: absolute;
  top: 2px;
  bottom: auto;
  left: auto;
  right: 2px;
  background: none;
  border: none;
}

.artist-img {
  display: flex;
  justify-content: center;
}
.artist-img > img {
  width: 100%;
  object-fit: cover;
  height: 600px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px black;
}

.font-color > p {
  color: white;
  font-size: 20px;
  text-shadow: 2px 2px 8px #000000;
}

.font-user > p {
  color: white;
  font-size: 20px;
  text-shadow: 2px 2px 8px #000000;
}

.font-user > h2 {
  color: white;
  font-size: 20px;
  text-shadow: 2px 2px 8px #000000;
}

.font-user > h3 {
  color: white;
  font-size: 20px;
  text-shadow: 2px 2px 8px #000000;
}

.concert-color > h4 {
  color: white;
  font-size: 20px;
  text-shadow: 2px 2px 8px #000000;
}

.index-link {
  color: white;
  font-size: 25px;
  padding: 10px;
  text-decoration: none;
  text-shadow: 2px 2px black;
}

.index-link:hover {
  color: rgb(213,182,110);
}

.fb-color {
  color: white;
}

.fb-color:hover {
  color: rgb(213,182,110);
}
