// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

// Mapbox CSS
@import "mapbox-gl/dist/mapbox-gl";

body {
  // background-color: #0C3459;
  background-color: black; /* Used if the image is unavailable */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  position: relative;
  font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4 {
  color: beige;
  font-family: 'Poppins', sans-serif;
}

.nav-item {
  backdrop-filter: blur(4px);
}

#heart-white {
  color: grey;
}

#heart-red {
  color: red;
}

.split {
  padding-top: 100px;
  min-height: 100vh;
}

.split-margin {
  margin-top: 125px;
}

.btn {
  border-radius: 25px;
  background-color: #D5B66E;
}

.btn:hover {
  background-color: #BC8D4B;
}

.slider {
  justify-content: center;
  height: 300px;
  object-fit: cover;
}

.color-inputs {
  color: white;
}

.avatar-photo-artist {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
