<p>Hola! <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Nos contactamos para informarle que su email ha cambiado a <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Nos contactamos para informarle que su email ha cambiado a <%= @resource.email %>.</p>
<% end %>
